* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

body {
  background: linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to left, #414345, #232526); }

.flex, .pie-pagina .grupo-1 .box figure, .contacto__imagen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.form, .contacto__input, .contacto__input--textarea {
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #fff; }

.header {
  background: linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to left, #414345, #232526);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  font-family: "Open Sans";
  margin: 0px;
  padding: 0px; }
  .header__logo {
    cursor: pointer; }
    .header__logo-img {
      height: 70px;
      width: auto;
      transition: all 0.3s; }
      .header__logo-img:hover {
        transform: scale(1.2); }

.nav-links {
  list-style: none; }
  .nav-links li {
    display: inline-block;
    padding: 0 20px; }
    .nav-links li:hover {
      transform: scale(1.1); }
  .nav-links a {
    font-size: 700;
    color: #fff;
    text-decoration: none; }

.btn button {
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; }

.pie-pagina {
  margin-top: 40px;
  width: 100%;
  color: linear-gradient(to right, #414345, #232526);
  color: linear-gradient(to left, #414345, #232526); }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%; }

.pie-pagina .grupo-1 .box figure img {
  width: 250px; }

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  color: #fff;
  margin-bottom: 10px; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
  text-align: center;
  transition: all 300ms ease; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua; }

.pie-pagina .grupo-2 {
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie-pagina .grupo-2 small {
  font-size: 15px; }

.contacto {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(to right, #414345, #232526);
  background-color: linear-gradient(to left, #414345, #232526); }
  .contacto__imagen {
    width: 230%; }
    .contacto__imagen-wrapper {
      height: 100%;
      width: 80%;
      overflow: hidden; }
    .contacto__imagen--2 {
      width: 130%; }
    .contacto__imagen--3 {
      width: 150%;
      height: 1000px; }
  .contacto__right-side {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 50%; }
  .contacto__titulo {
    font-size: 70px;
    font-family: 'Montserrat';
    font-weight: 100;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff; }
    .contacto__titulo--responsive {
      font-size: 70px;
      font-weight: 100px;
      font-family: 'Montserrat';
      margin-bottom: 60px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      display: none; }
  .contacto__input {
    height: 30px;
    width: 100%;
    color: #fff;
    background-color: transparent; }
    .contacto__input--textarea {
      height: 100px;
      resize: none;
      background-color: transparent; }
  .contacto__label {
    font-size: 18px;
    font-weight: 600px;
    color: #fff;
    font-family: "Montserrat"; }
    .contacto__label_1 {
      font-size: 50px;
      font-weight: 600px;
      margin-left: 60px;
      margin-bottom: 20px;
      color: #fff;
      font-family: "Montserrat"; }
  .contacto__sub {
    font-size: 20px;
    font-weight: 100px;
    font-family: 'Montserrat';
    margin-bottom: 70px;
    text-align: center;
    color: #e8e8e8; }
  .contacto__submit-button {
    padding: 18px 55px;
    background-color: #121212;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600px;
    border: none;
    cursor: pointer; }
    .contacto__submit-button:hover {
      background-color: #2e2e2e; }
  .contacto__input-linea {
    margin-bottom: 45px; }

.contacto__input-linea, .contacto__formulario-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  color: white;
  font-family: "Montserrat"; }

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); }

.grid > article img {
  max-width: 100%; }

.text {
  padding: 0 20px 20px; }

.grid > article:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1; }

.img__ubi {
  width: 650px;
  height: 300px; }

.img__grid-1 {
  width: 1920px;
  height: 350px; }

.img__grid-2 {
  width: 490px;
  height: 260px; }

.img__menu {
  width: 650px;
  height: 300px; }

.carta {
  list-style: none;
  color: white;
  font-family: "Montserrat";
  font-style: italic; }

.respaldo__texto {
  font-family: "Montserrat";
  font-size: 45;
  display: flex;
  flex-direction: column;
  text-align: center; }

.img__respaldado {
  display: inline;
  width: 250px;
  height: auto; }

.titulo {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 50px;
  font-weight: 100;
  font-family: "Montserrat";
  text-transform: uppercase; }

.titulo__2 {
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: 100;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 20px; }

.titulo__2-1 {
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: 100px;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 50px; }

.container {
  width: 100%;
  max-width: 1900px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.container .card {
  width: 320px;
  height: 410px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen; }

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.container .card img {
  width: 350px;
  height: 250px; }

.container .card h4 {
  font-weight: 300px;
  font-family: "Montserrat"; }

.container .card p {
  margin-top: 10px;
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 300;
  font-family: "Montserrat";
  font-style: italic; }

.container__mision {
  width: 100%;
  max-width: 1200px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.container__logos {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.mapa {
  width: 600px;
  height: 450px; }

/* -------------------------------------------------------MEDIAS QUERYS (280px - 364px) :) --------------------------------------------------------------*/
@media (min-width: 280px) and (max-width: 364px) {
  .header {
    height: 250px;
    flex-direction: column; }
    .header__logo img {
      height: 30px;
      margin-top: 10px; }
  .header .nav-links {
    list-style: none; }
    .header .nav-links li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px; }
    .header .nav-links a {
      display: inline-block;
      margin-top: 2px;
      font-size: px;
      color: #fff;
      flex-direction: column; }
  .header .btn button {
    margin-bottom: 10px; }
  .img__grid-1 {
    width: 1920px;
    height: 350px; }
  .img__grid-2 {
    width: 890px;
    height: 260px; }
  .grid {
    display: flex;
    flex-direction: column; }
  .pie-pagina .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .contacto__imagen-wrapper {
    display: none; }
  .contacto__titulo {
    display: none; }
    .contacto__titulo--responsive {
      display: inline-block;
      font-size: 35px;
      font-family: 'Montserrat';
      font-weight: 100;
      margin-bottom: 10px; }
  .contacto__right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 100%; }
  .contacto__label_1 {
    font-size: 35px;
    color: #fff; }
  .mapa {
    width: 260px;
    height: 180px; } }

/* -------------------------------------------------------MEDIAS QUERYS (365px - 450px) :) --------------------------------------------------------------*/
@media (min-width: 365px) and (max-width: 450px) {
  .header {
    height: 250px;
    flex-direction: column; }
    .header__logo img {
      height: 50px;
      margin-top: 5px; }
  .header .nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px; }
  .header .nav-links a {
    display: inline-block;
    margin-top: 5px;
    font-size: px;
    color: #eceff1;
    flex-direction: column; }
  .header .btn button {
    margin-bottom: 15px;
    margin-top: 5px; }
  .img__grid-1 {
    width: 1920px;
    height: 350px; }
  .img__grid-2 {
    width: 890px;
    height: 260px; }
  .grid {
    display: flex;
    flex-direction: column; }
  .pie-pagina .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .contacto__imagen-wrapper {
    display: none; }
  .contacto__titulo {
    display: none; }
    .contacto__titulo--responsive {
      display: inline-block;
      font-size: 45px;
      font-family: 'Montserrat';
      font-weight: 100;
      margin-bottom: 10px; }
  .container {
    width: 100%;
    max-width: 1900px;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .container__mision {
      width: 100%;
      max-width: 1200px;
      height: 550px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto; }
  .contacto__right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 100%; }
  .contacto__label_1 {
    font-size: 35px;
    color: #fff; }
  .mapa {
    width: 360px;
    height: 385px; } }

/* -------------------------------------------------------MEDIAS QUERYS (451px - 584px) :) --------------------------------------------------------------*/
@media (min-width: 451px) and (max-width: 490px) {
  .header {
    height: 290px;
    flex-direction: column; }
    .header__logo img {
      height: 50px;
      margin-top: 5px; }
  .header .nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px; }
  .header .nav-links a {
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
    flex-direction: column; }
  .header .btn button {
    margin-bottom: 15px;
    margin-top: 5px; }
  .img__grid-1 {
    width: 1920px;
    height: 350px; }
  .img__grid-2 {
    width: 890px;
    height: 260px; }
  .grid {
    display: flex;
    flex-direction: column; }
  .pie-pagina .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .contacto__imagen-wrapper {
    display: none; }
  .contacto__titulo {
    display: none; }
    .contacto__titulo--responsive {
      display: inline-block;
      font-size: 45px;
      font-family: 'Montserrat';
      font-weight: 100;
      margin-bottom: 10px; }
  .container {
    width: 100%;
    max-width: 1900px;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .container__mision {
      width: 100%;
      max-width: 1200px;
      height: 550px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto; }
  .contacto__right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 100%; }
  .contacto__label_1 {
    font-size: 35px;
    color: #fff; } }

/* -------------------------------------------------------MEDIAS QUERYS (491px - 584px) :) --------------------------------------------------------------*/
@media (min-width: 491px) and (max-width: 584px) {
  .header {
    height: 250px;
    flex-direction: column; }
    .header__logo img {
      height: 130px;
      margin-top: 5px;
      margin-bottom: 0px; }
  .header .nav-links li {
    display: inline-block;
    align-items: center;
    padding: 0 20px;
    margin-top: 0px; }
  .header .nav-links a {
    display: inline-block;
    font-size: 15px;
    color: #fff; }
  .header .btn button {
    margin-bottom: 15px;
    margin-top: 0px; }
  .img__grid-1 {
    width: 1920px;
    height: 350px; }
  .img__grid-2 {
    width: 890px;
    height: 260px; }
  .grid {
    display: flex;
    flex-direction: column; }
  .pie-pagina .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .contacto__imagen-wrapper {
    display: none; }
  .contacto__titulo {
    display: none; }
    .contacto__titulo--responsive {
      display: inline-block;
      font-size: 45px;
      font-family: 'Montserrat';
      font-weight: 100;
      margin-bottom: 10px; }
  .container {
    width: 100%;
    max-width: 1900px;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .container__mision {
      width: 100%;
      max-width: 1200px;
      height: 550px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto; }
  .contacto__right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 100%; }
  .contacto__label_1 {
    font-size: 35px;
    color: #fff; } }

/* -------------------------------------------------------MEDIAS QUERYS (585px - 660px) :) --------------------------------------------------------------*/
@media (min-width: 585px) and (max-width: 660px) {
  .header {
    height: 250px;
    flex-direction: column; }
    .header__logo img {
      height: 130px;
      margin-top: 5px;
      margin-bottom: 0px; }
  .header .nav-links li {
    display: inline-block;
    align-items: center;
    padding: 0 20px;
    margin-top: 0px; }
  .header .nav-links a {
    display: inline-block;
    font-size: 16px;
    color: #fff; }
  .header .btn button {
    margin-bottom: 15px;
    margin-top: 0px; }
  .img__grid-1 {
    width: 1920px;
    height: 350px; }
  .img__grid-2 {
    width: 890px;
    height: 260px; }
  .grid {
    display: flex;
    flex-direction: column; }
  .pie-pagina .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .contacto__imagen-wrapper {
    display: none; }
  .contacto__titulo {
    display: none; }
    .contacto__titulo--responsive {
      display: inline-block;
      font-size: 45px;
      font-family: 'Montserrat';
      font-weight: 100;
      margin-bottom: 10px; }
  .container {
    width: 100%;
    max-width: 1900px;
    height: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .container__mision {
      width: 100%;
      max-width: 1200px;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto; }
  .contacto__right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 100%; }
  .contacto__label_1 {
    font-size: 35px;
    color: #fff; } }

/* -------------------------------------------------------MEDIAS QUERYS (661px - 835px) :) --------------------------------------------------------------*/
@media (min-width: 661px) and (max-width: 835px) {
  .header {
    height: 250px;
    flex-direction: column; }
    .header__logo img {
      height: 130px;
      margin-top: 5px;
      margin-bottom: 0px; }
  .header .nav-links li {
    display: inline-block;
    align-items: center;
    padding: 0 20px;
    margin-top: 0px; }
  .header .nav-links a {
    display: inline-block;
    font-size: 23px;
    color: #fff; }
  .header .btn button {
    margin-bottom: 15px;
    margin-top: 0px; }
  .img__grid-1 {
    width: 1920px;
    height: 350px; }
  .img__grid-2 {
    width: 890px;
    height: 260px; }
  .grid {
    display: flex;
    flex-direction: column; }
  .pie-pagina .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .contacto__imagen-wrapper {
    display: none; }
  .container {
    width: 100%;
    max-width: 1900px;
    height: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .container__mision {
      width: 100%;
      max-width: 1000px;
      height: 310px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto; }
  .contacto__right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 100%; }
  .contacto__label_1 {
    font-size: 35px;
    color: #fff; } }

/* -------------------------------------------------------MEDIAS QUERYS (1080px - 1500px) :) --------------------------------------------------------------*/
@media (min-width: 831px) and (max-width: 1079px) {
  .container {
    width: 100%;
    max-width: 1900px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .container__mision {
      width: 100%;
      max-width: 1900px;
      height: 250px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto; }
  .contacto__right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 100%; }
  .contacto__label_1 {
    font-size: 55px;
    color: white; } }

/* -------------------------------------------------------MEDIAS QUERYS (1080px - 1500px) :) --------------------------------------------------------------*/
@media (min-width: 1080px) and (max-width: 1500px) {
  .container {
    width: 100%;
    max-width: 1900px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .container__mision {
      width: 100%;
      max-width: 1000px;
      height: 250px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto; } }
