.pie-pagina{
    margin-top: 40px;
    width: 100%;
    background: map-get($map: $paleta, $key: primario); 
    background: map-get($map: $paleta, $key: secundario);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    @extend .flex;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px; 
}

.pie-pagina .grupo-1 .box h2{
    color: map-get($map: $paleta, $key: primario); 
    margin-bottom: 25px;
    font-size: 20px;  
}

.pie-pagina .grupo-1 .box p{
    color: map-get($map: $paleta, $key: primario);   
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    @include img(45px, 45px);
    line-height: 45px;
    color: map-get($map: $paleta, $key: primario);   
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background: map-get($map: $paleta, $key: primario); 
    background: map-get($map: $paleta, $key: secundario);
    padding: 15px 10px;
    text-align: center; 
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}