*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 
}