*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    background: $bg;  
    background: $bg-2; 
}

.flex{
	display: flex;
    justify-content: center;
    align-items: center;
}
.form{
	outline: none;
	padding: 5px 0;
	border-bottom: 2px solid #121212;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%;
	color: $primary; 
}

@mixin fonts ($size, $weight){
	font-size: $size;
	font-weight: $weight;
}

@mixin img ($height, $width){
	height: $height;
	width: $width;
}
@mixin flex ($flex, $content, $center){
    display: $flex; 
    justify-content: $content;
    align-items: $center;
}

$paleta: (
	primario: $primary, 
	secundario: $bg,
	terciario: $bg-2
);