.contacto{
    @include img(100%,100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($map: $paleta, $key: secundario);  
    background-color: map-get($map: $paleta, $key: terciario);  

    &__imagen{
        @include img(100%,230%);

        &-wrapper{
            @include img(100%,80%);
            @extend .flex;
            overflow: hidden;
    
        }
        &--2{
            @include img(100%,130%);
        }
        &--3{
            @include img(1000px,150%);
        }
    }



    &__right-side{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding:0 7.3% 0 4.7%;
        width: 50%;
    }

    &__titulo{
        font-size: 70px;
        font-family: 'Montserrat';
        font-weight: 100;
        margin-bottom: 60px;
        text-transform: uppercase;
        text-align: center;
        color: map-get($map: $paleta, $key: primario);  
    
        &--responsive{
            @include fonts(70px, 100px);
            font-family: 'Montserrat';
            margin-bottom: 60px;
            text-transform: uppercase;
            text-align: center;
            color: map-get($map: $paleta, $key: primario);  
            display: none;
    
        }
    }
    &__input{
        @include img(30px,100%);
        @extend .form;
        color: map-get($map: $paleta, $key: primario);  
        background-color: transparent;
    
        &--textarea{
            height: 100px;
            @extend .form;
            resize: none;
            background-color: transparent;
    
        }
    }
    &__label{
        @include fonts(18px, 600px);
        color: map-get($map: $paleta, $key: primario);   
        font-family: "Montserrat";
    
        &_1{
            @include fonts(50px, 600px);
            margin-left: 60px;
            margin-bottom: 20px;
            color: map-get($map: $paleta, $key: primario);  
            font-family: "Montserrat";
        }
    }
    &__sub{
        @include fonts(20px, 100px);
        font-family: 'Montserrat';
        margin-bottom: 70px;
        text-align: center;
        color: rgb(232, 232, 232);
    }
    &__submit-button{
        @include fonts(18px, 600px);
        padding: 18px 55px;
        background-color: #121212;
        border-radius: 50px;
        color: map-get($map: $paleta, $key: primario); 
        border: none;
        cursor: pointer;
        
        &:hover{
            background-color: #2e2e2e;
    
        }
    }
    &__input-linea{
        margin-bottom: 45px;
    }
    
}


.contacto__input-linea, .contacto__formulario-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}







