.contacto{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 

    &__imagen{
        width: 230%;

        &-wrapper{
            height: 100%;
            width: 80%;
            overflow: hidden;
            @extend .flex;
    
        }
        &--2{
            width: 130%;
        }
        &--3{
        width: 150%;
        height: 1000px;
        }
    }



    &__right-side{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding:0 7.3% 0 4.7%;
        width: 50%;
    }

    &__titulo{
        font-size: 70px;
        font-family: 'Montserrat';
        font-weight: 100;
        margin-bottom: 60px;
        text-transform: uppercase;
        text-align: center;
        color: rgb(255, 255, 255);
    
        &--responsive{
            @include fonts(70px, 100px);
            font-family: 'Montserrat';
            margin-bottom: 60px;
            text-transform: uppercase;
            text-align: center;
            color: rgb(255, 255, 255);
            display: none;
    
        }
    }
    &__input{
        height: 30px;
        @extend .form;
        width: 100%;
        color: $primary; 
        background-color: transparent;
    
        &--textarea{
            height: 100px;
            @extend .form;
            resize: none;
            background-color: transparent;
    
        }
    }
    &__label{
        @include fonts(18px, 600px);
        color: $primary; 
        font-family: "Montserrat";
    
        &_1{
            @include fonts(50px, 600px);
            margin-left: 60px;
            margin-bottom: 20px;
            color: $primary; 
            font-family: "Montserrat";
        }
    }
    &__sub{
        @include fonts(20px, 100px);
        font-family: 'Montserrat';
        margin-bottom: 70px;
        text-align: center;
        color: rgb(232, 232, 232);
    }
    &__submit-button{
        padding: 18px 55px;
        background-color: #121212;
        border-radius: 50px;
        color: $primary;
        @include fonts(18px, 600px);
        border: none;
        cursor: pointer;
        
        &:hover{
            background-color: #2e2e2e;
    
        }
    }
    &__input-linea{
        margin-bottom: 45px;
    }
    
}


.contacto__input-linea, .contacto__formulario-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}







