.header{
    background: map-get($map: $paleta, $key: secundario); 
    background: map-get($map: $paleta, $key: terciario);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    font-family: "Open Sans";
    margin: 0px;
    padding: 0px;

    &__logo{

        cursor: pointer;

        &-img{
            height: 70px;
            width: auto;
            transition: all 0.3s;

            &:hover{
                transform: scale(1.2);
            }

        }
        
    }
}

.nav-links{
    list-style: none;

    li{
        display: inline-block;
        padding: 0 20px;  

        &:hover{
            
            transform: scale(1.1);
        }  
    }
    a{
        font-size: 700;
        color: map-get($map: $paleta, $key: primario);
        text-decoration: none;         

    }
}

 .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


