.header{
    background: map-get($map: $paleta, $key: primario); 
    background: map-get($map: $paleta, $key: secundario);


    &__logo{

        cursor: pointer;

        &-img{
            @include img(70px,auto);
            transition: all 0.3s;

            &:hover{
                transform: scale(1.2);
            }

        }
        
    }
}

 .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


