 $primary: #fff;
 $bg:linear-gradient(to right, #414345, #232526); 
 $bg-2:linear-gradient(to left, #414345, #232526); 
 $bg-3-card:radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%);
 $bg-4-card:radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);

 